{{extend 'layout.html'}}
<h1>Nuevo Contrato Persona</h1>
<form>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="txtCedula">Documento de Identidad</label>
                <input type="number" class="form-control" id="txtCedula" placeholder="Documento de identidad">
                <label for="txtTelefono">Telefono</label>
                <input type="phone" class="form-control" id="txtTelefono" placeholder="Telefono">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="col-md-6 col-xs-12">

        </div>
    </div>
</form>
